@import "../../variables.scss";

.employee-engagement-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 10px;
    .employee-engagement-form {
        padding: 10px 50px 0 0;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 60%;
        .ant-form-item-label {
            width: 20%;
            text-align: left;
        }
        .ant-form-item-required,
        input,
        span {
            font-size: 1rem;
        }
        .time-picker-input,
        .salary-form {
            .ant-form-item-label {
                width: 41%;
            }
        }
        .salary-form {
            .ant-form-item {
                width: 49%;
                margin-bottom: 2rem;
            }
        }
    }
    .history-container {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2%;
        row-gap: 10px;
        padding: 0px 0px 0px 15px;
        border-left: 1px solid lightgrey;
        align-content: start;
        .history-card {
            width: 49%;
            max-height: 20%;
            height: auto;
            padding: 0px 0px 10px;
            // border-radius: 10px;
            overflow: hidden;
            &.active {
                .card-header {
                    background-color: $primary-blue;
                    color: $white;
                    position: relative;
                    &::after {
                        content: "";
                        height: 1rem;
                        width: 1rem;
                        position: absolute;
                        background-color: $success-green;
                        right: 10px;
                        border-radius: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .card-header {
                border-radius: 10px 10px 0px 0px;
                border: 1px solid #0006;
                font-size: 1.2rem;
                border-color: $primary-blue;
                height: 2rem;
            }
            .card-body {
                border: 1px solid $primary-blue;
                border-top-width: 0px;
                height: calc(100% - 2rem);
                padding: 10px 10px;
                border-radius: 0px 0px 10px 10px;
            }
        }
    }
}
