.provident-fund-container {
    .ant-form {
        .ant-form-item-row {
            padding: 5px 0px;
        }
        .ant-form-item-label {
            width: 30%;
            text-align: left;
        }
        .ant-form-item-required,
        input,
        label,
        span {
            font-size: 1rem;
        }
        .ant-form-item-explain-error {
            text-align: start;
        }
    }
}
