@import "../../variables.scss";

.attendance-container {
    .attendance-date-picker {
        cursor: pointer;
        .ant-picker-input {
            &::before {
                content: attr(start-date);
                display: block;
                padding: 5px 10px;
                font-size: 1.1rem;
            }
            &::after {
                content: attr(end-date);
                display: block;
                padding: 5px 10px;
                font-size: 1.1rem;
            }
            input {
                display: none;
            }
            .ant-picker-suffix {
                margin: 0px;
                color: grey;
            }
        }
    }
    .attendance-table {
        .ant-table-thead {
            .ant-table-cell {
                text-align: center;
            }
        }
        .ant-table-tbody {
            .ant-table-cell {
                padding: 16px 8px;
            }
        }
    }
}
