@import "./variables.scss";

// CUSTOM WIDTH CLASSES
@for $i from 0 through 100 {
    .w-#{$i} {
        width: percentage(calc($i/100)) !important ;
    }
}

// CUSTOM HEIGHT CLASSES
@for $i from 0 through 100 {
    .h-#{$i} {
        height: percentage(calc($i/100)) !important;
    }
}

.color-red {
    color: $danger-red;
}

.form-control {
    @at-root {
        input#{&} {
            transition: all 0.3s ease-in-out;
            box-shadow: none !important;
            border-width: 2px !important;
            &:focus {
                border-color: $primary-blue !important;
            }
        }
    }
}

.btn {
    outline: none;
    &.btn-ghost {
        &:hover {
            color: $primary-blue;
        }
        &:active {
            border-color: transparent;
        }
    }
    &.btn-primary {
        background-color: $primary-blue;
        border-color: $primary-blue;
    }
    &.btn-secondary {
        background-color: $white;
        border-color: $primary-blue;
        color: $black;
        &:active {
            background-color: $secondary-blue;
        }
    }
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 255, 0.1);
}

.fs-1rem {
    font-size: 1rem;
}
.fs-1_2rem {
    font-size: 1.2rem;
}
